/*header_wrapperで使っているcss*/
#header_wrapper{
    border-bottom: solid 1px #d0d0d0;
    background-color: white;
    position: fixed;
    z-index: 3;
    height: 70px;
    width: 100%;
 }
 
 #header_wrapper .header_logo .MONJU2_logo{
    transform: scale(1,0.8);
    position: absolute;
    left: 20px;
}

 
 #header_wrapper .header_sns{
     position: absolute;
     top: 26px;
     right: 100px;
     display: flex;
     height: 23px;
 }
 
 .header_sns .MONJU_Instagram{
     margin-left: 40px;
 }
 
 #header_wrapper .global_menu{
     position: absolute;
     top: 28px;
     right: 280px;
 }
 
 .global_menu .header_navlist{
    font-family: "Rubik", sans-serif;
     color: #00000075;
     font-size: 17px;
     list-style: none; 
     display: flex;
     justify-content: space-around;
     transform: scale(1.15,1.15);
 }
 
 .header_navlist_item1,.header_navlist_item2,.header_navlist_item3,.header_navlist_item4{
     position: relative;
 }
 
 .header_navlist_item1::after,.header_navlist_item2::after,.header_navlist_item3::after,.header_navlist_item4::after{
     position: absolute;
     left: 0;
     content: '';
     width: 100%;
     height: 2px;
     background: #ea6c1e;
     bottom: -3px;               
     transform: scale(0, 1);     
     transform-origin: left top; 
     transition: transform 0.3s; 
 }
     
 .header_navlist_item1:hover::after,.header_navlist_item2:hover::after,.header_navlist_item3:hover::after,.header_navlist_item4:hover::after{
     transform: scale(1, 1);     
 }
 
 .header_navlist_item2,.header_navlist_item3,.header_navlist_item4{
     margin-left: 50px;
 }
 
 /*about_outlineで使っているcss*/
#about_outline .about_empty{
    height: 400px;
}

#about_outline .about_MONJU2{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    transition: 0.8s ease-in-out;
    transform: translateY(30px);
    opacity: 0;
}

#about_outline .about_MONJU2.on{
    transform: translateY(0);
    opacity: 1.0;
}

#about_outline .about_MONJU2 h1{
    position: absolute;
    bottom: 0px;
    font-size: 50px;
    font-weight: bolder;
    font-family: "Arial",sans-serif;
    border-bottom: solid 4px #ea6c1e;
    display: inline-block;
}

#about_outline .about_description{
    width: 100%;
}
/*以下コメントアウトした部分をmasterとしてcopy*/
.about_description .about_description1-1_blank{
    width: 100%;
    height: 200px;
    position: relative;
    transition: 0.8s ease-in-out;
    transition-delay: .4s;
    transform: translateY(30px);
    opacity: 0;
}

.about_description .about_description1-1_blank.on{
    transform: translateY(0);
    opacity: 1.0;
}

.about_description .about_description1-1_blank img{
    max-width: 100%;
    height: auto;
    position: absolute;
    transform: scale(0.75,0.75);
    right: 30px;
    bottom: -80px;
}

.about_description .about_description1{
    width: 100%;
    position: relative;
}

.about_description .about_description1 .about_description1-1{
    position: absolute;
    top: 30px;
    left: 100px;
    width: 900px;
    height: 300px;
    position: relative;
    transition: 0.8s ease-in-out;
    transition-delay: .4s;
    transform: translateY(30px);
    opacity: 0;
}

.about_description .about_description1 .about_description1-1.on{
    transform: translateY(0);
    opacity: 1.0;
}

.about_description1 .about_description1-1 img{
    transform: scale(0.75,0.6);
    position: absolute;
    z-index: 1;
}

.about_description1 .about_description1-1 h1{
    font-size: 50px;
    font-weight: bold;
    position: absolute;
    left: 130px;
}

.about_description1 .about_description1-1 p{
    color: white;
    font-size: 20px;
    font-family: 'M PLUS 1p', sans-serif;
    position: absolute;
    z-index: 2;
    top: 120px;
    left: 140px;
}

.about_description .about_description1-2_blank{
    width: 100%;
    height: 200px;
    position: relative;
    transition: 0.8s ease-in-out;
    transform: translateY(30px);
    opacity: 0;
}

.about_description .about_description1-2_blank.on{
    transform: translateY(0);
    opacity: 1.0;
}

.about_description .about_description1-2_blank img{
   position: absolute;
   left: 150px;
   bottom: -80px;
}

.about_description .about_description1 .about_description1-2{
    position: absolute;
    left: 500px;
    position: relative;
    width: 900px;
    height: 300px;
    transition: 0.8s ease-in-out;
    transform: translateY(30px);
    opacity: 0;
}

.about_description .about_description1 .about_description1-2.on{
    transform: translateY(0);
    opacity: 1.0;
}

.about_description1 .about_description1-2 img{
    transform: scale(0.75,0.6);
    position: absolute;
    z-index: 1;
}

.about_description1 .about_description1-2 h1{
    font-size: 50px;
    font-weight: bold;
    position: absolute;
    right: 130px;
}

.about_description1 .about_description1-2 p{
    color: white;
    font-size: 18.5px;
    font-family: 'M PLUS 1p', sans-serif;
    position: absolute;
    z-index: 2;
    top: 100px;
    left: 140px;
}
/*以上まで*/
.about_description .about_description2-1_blank{
    width: 100%;
    height: 200px;
    position: relative;
    transition: 0.8s ease-in-out;
    transform: translateY(30px);
    opacity: 0;
}

.about_description .about_description2-1_blank.on{
    transform: translateY(0);
    opacity: 1.0;
}

.about_description .about_description2-1_blank img{
    transform: scale(1.5,1.5);
   position: absolute;
   right: 130px;
   bottom: -150px
}

.about_description .about_description2{
    width: 100%;
    position: relative;
}

.about_description .about_description2 .about_description2-1{
    position: absolute;
    top: 30px;
    left: 100px;
    width: 900px;
    height: 300px;
    position: relative;
    transition: 0.8s ease-in-out;
    transform: translateY(30px);
    opacity: 0;
}

.about_description .about_description2 .about_description2-1.on{
    transform: translateY(0);
    opacity: 1.0;
}

.about_description2 .about_description2-1 img{
    transform: scale(0.75,0.6);
    position: absolute;
    z-index: 1;
}

.about_description2 .about_description2-1 h1{
    font-size: 50px;
    font-weight: bold;
    position: absolute;
    left: 130px;
}

.about_description2 .about_description2-1 p{
    color: white;
    font-size: 17px;
    font-family: 'M PLUS 1p', sans-serif;
    position: absolute;
    z-index: 2;
    top: 110px;
    left: 135px;
}

.about_description .about_description2-2_blank{
    width: 100%;
    height: 200px;
    position: relative;
    transition: 0.8s ease-in-out;
    transform: translateY(30px);
    opacity: 0;
}

.about_description .about_description2-2_blank.on{
    transform: translateY(0);
    opacity: 1.0;
}

.about_description .about_description2-2_blank img{
    position: absolute;
    left: 200px;
    bottom: -240px
}

.about_description .about_description2 .about_description2-2{
    position: absolute;
    left: 500px;
    position: relative;
    width: 900px;
    height: 300px;
    transition: 0.8s ease-in-out;
    transform: translateY(30px);
    opacity: 0;
}

.about_description .about_description2 .about_description2-2.on{
    transform: translateY(0);
    opacity: 1.0;
}

.about_description2 .about_description2-2 img{
    transform: scale(0.75,0.6);
    position: absolute;
    z-index: 1;
}

.about_description2 .about_description2-2 h1{
    font-size: 50px;
    font-weight: bold;
    position: absolute;
    right: 130px;
}

.about_description2 .about_description2-2 p{
    color: white;
    font-size: 30px;
    font-family: 'M PLUS 1p', sans-serif;
    position: absolute;
    z-index: 2;
    top: 130px;
    left: 130px;
}

#about_outline .about_features{
    height: 200px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    transition: 0.8s ease-in-out;
    transform: translateY(30px);
    opacity: 0;
}

#about_outline .about_features.on{
    transform: translateY(0);
    opacity: 1.0;
}

#about_outline .about_features h1{
    position: absolute;
    bottom: 0px;
    font-size: 50px;
    font-weight: bolder;
    font-family: "Arial",sans-serif;
    border-bottom: solid 4px #ea6c1e;
    display: inline-block;
}

.about_details .about_details1-1_blank{
    width: 100%;
    height: 200px;
    position: relative;
    transition: 0.8s ease-in-out;
    transform: translateY(30px);
    opacity: 0;
}

.about_details .about_details1-1_blank.on{
    transform: translateY(0);
    opacity: 1.0;
}

.about_details .about_details1-1_blank img{
    position: absolute;
    right: 100px;
    bottom: -200px;
}

.about_details .about_details1{
    width: 100%;
    position: relative;
}

.about_details .about_details1 .about_details1-1{
    position: absolute;
    top: 30px;
    left: 100px;
    width: 900px;
    height: 300px;
    position: relative;
    transition: 0.8s ease-in-out;
    transform: translateY(30px);
    opacity: 0;
}

.about_details .about_details1 .about_details1-1.on{
    transform: translateY(0);
    opacity: 1.0;
}

.about_details1 .about_details1-1 img{
    transform: scale(0.75,0.6);
    position: absolute;
    z-index: 1;
}

.about_details1 .about_details1-1 h1{
    font-size: 50px;
    font-weight: bold;
    position: absolute;
    left: 130px;
}

.about_details1 .about_details1-1 p{
    color: white;
    font-size: 20px;
    font-family: 'M PLUS 1p', sans-serif;
    position: absolute;
    z-index: 2;
    top: 95px;
    right: 180px;
}

.about_details .about_details1-2_blank{
    width: 100%;
    height: 200px;
    position: relative;
    transition: 0.8s ease-in-out;
    transform: translateY(30px);
    opacity: 0;
}

.about_details .about_details1-2_blank.on{
    transform: translateY(0);
    opacity: 1.0;
}

.about_details .about_details1-2_blank img{
    position: absolute;
    left: 200px;
    bottom: -100px;
}

.about_details .about_details1 .about_details1-2{
    position: absolute;
    left: 500px;
    position: relative;
    width: 900px;
    height: 300px;
    transition: 0.8s ease-in-out;
    transform: translateY(30px);
    opacity: 0;
}

.about_details .about_details1 .about_details1-2.on{
    transform: translateY(0);
    opacity: 1.0;
}

.about_details1 .about_details1-2 img{
    transform: scale(0.75,0.6);
    position: absolute;
    z-index: 1;
}

.about_details1 .about_details1-2 h1{
    font-size: 50px;
    font-weight: bold;
    position: absolute;
    right: 130px;
}

.about_details1 .about_details1-2 p{
    color: white;
    font-size: 20px;
    font-family: 'M PLUS 1p', sans-serif;
    position: absolute;
    z-index: 2;
    top: 110px;
    right: 145px;
}

.about_details .about_details2-1_blank{
    width: 100%;
    height: 200px;
    position: relative;
    transition: 0.8s ease-in-out;
    transform: translateY(30px);
    opacity: 0;
}

.about_details .about_details2-1_blank.on{
    transform: translateY(0);
    opacity: 1.0;
}

.about_details .about_details2-1_blank img{
    transform: scale(1.25,1.25); 
    position: absolute;
    right: 300px;
    bottom: -100px;
}

.about_details .about_details2{
    width: 100%;
    position: relative;
}

.about_details .about_details2 .about_details2-1{
    position: absolute;
    top: 30px;
    left: 100px;
    width: 900px;
    height: 300px;
    position: relative;
    transition: 0.8s ease-in-out;
    transform: translateY(30px);
    opacity: 0;
}

.about_details .about_details2 .about_details2-1.on{
    transform: translateY(0);
    opacity: 1.0;
}

.about_details2 .about_details2-1 img{
    transform: scale(0.75,0.6);
    position: absolute;
    z-index: 1;
}

.about_details2 .about_details2-1 h1{
    font-size: 50px;
    font-weight: bold;
    position: absolute;
    left: 130px;
}

.about_details2 .about_details2-1 p{
    color: white;
    font-size: 18px;
    font-family: 'M PLUS 1p', sans-serif;
    position: absolute;
    z-index: 2;
    top: 100px;
    left: 245px;
}

.about_details .about_details2-2_blank{
    width: 100%;
    height: 200px;
    position: relative;
    transition: 0.8s ease-in-out;
    transform: translateY(30px);
    opacity: 0;
}

.about_details .about_details2-2_blank.on{
    transform: translateY(0);
    opacity: 1.0;
}

.about_details .about_details2-2_blank img{
    transform: scale(1.5,1.5); 
    position: absolute; 
    left: 250px;
    bottom: -100px;
}

.about_details .about_details2 .about_details2-2{
    position: absolute;
    left: 500px;
    position: relative;
    width: 900px;
    height: 300px;
    transition: 0.8s ease-in-out;
    transform: translateY(30px);
    opacity: 0;
}

.about_details .about_details2 .about_details2-2.on{
    transform: translateY(0);
    opacity: 1.0;
}

.about_details2 .about_details2-2 img{
    transform: scale(0.75,0.6);
    position: absolute;
    z-index: 1;
}

.about_details2 .about_details2-2 h1{
    font-size: 50px;
    font-weight: bold;
    position: absolute;
    right: 130px;
}

.about_details2 .about_details2-2 p{
    color: white;
    font-size: 18.5px;
    font-family: 'M PLUS 1p', sans-serif;
    position: absolute;
    z-index: 2;
    top: 95px;
    left: 250px;
}

.about_details .about_details3-1_blank{
    width: 100%;
    height: 200px;
    position: relative;
    transition: 0.8s ease-in-out;
    transform: translateY(30px);
    opacity: 0;
}

.about_details .about_details3-1_blank.on{
    transform: translateY(0);
    opacity: 1.0;
}

.about_details .about_details3-1_blank img{
     position: absolute;
     right: 200px;
     bottom: -50px;
}

.about_details .about_details3{
    width: 100%;
    position: relative;
}

.about_details .about_details3 .about_details3-1{
    position: absolute;
    top: 30px;
    left: 100px;
    width: 900px;
    height: 300px;
    position: relative;
    transition: 0.8s ease-in-out;
    transform: translateY(30px);
    opacity: 0;
}

.about_details .about_details3 .about_details3-1.on{
    transform: translateY(0);
    opacity: 1.0;
}

.about_details3 .about_details3-1 img{
    transform: scale(0.75,0.6);
    position: absolute;
    z-index: 1;
}

.about_details3 .about_details3-1 h1{
    font-size: 50px;
    font-weight: bold;
    position: absolute;
    left: 130px;
}

.about_details3 .about_details3-1 p{
    color: white;
    font-size: 20px;
    font-family: 'M PLUS 1p', sans-serif;
    position: absolute;
    z-index: 2;
    top: 120px;
    left: 260px;
}

.about_details .about_details3-2_blank{
    width: 100%;
    height: 200px;
    transition: 0.8s ease-in-out;
    transform: translateY(30px);
    opacity: 0;
}

.about_details .about_details3-2_blank.on{
    transform: translateY(0);
    opacity: 1.0;
}

.about_details .about_details3 .about_details3-2{
    position: absolute;
    left: 500px;
    position: relative;
    width: 900px;
    height: 300px;
    transition: 0.8s ease-in-out;
    transform: translateY(30px);
    opacity: 0;
}

.about_details .about_details3 .about_details3-2.on{
    transform: translateY(0);
    opacity: 1.0;
}

.about_details3 .about_details3-2 img{
    transform: scale(0.75,0.6);
    position: absolute;
    z-index: 1;
}

.about_details3 .about_details3-2 h1{
    font-size: 50px;
    font-weight: bold;
    position: absolute;
    right: 130px;
}

.about_details3 .about_details3-2 p{
    color: white;
    font-size: 18.5px;
    font-family: 'M PLUS 1p', sans-serif;
    position: absolute;
    z-index: 2;
    top: 130px;
    left: 180px;
}

#about_outline .about_schedule_title{
    height: 200px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    transition: 0.8s ease-in-out;
    transform: translateY(30px);
    opacity: 0;
}

#about_outline .about_schedule_title.on{
    transform: translateY(0);
    opacity: 1.0;
}

#about_outline .about_schedule_title h1{
    position: absolute;
    bottom: 0px;
    font-size: 50px;
    font-weight: bolder;
    font-family: "Arial",sans-serif;
    border-bottom: solid 4px #ea6c1e;
    display: inline-block;
}

#about_outline .about_schedule{
    transform: scale(0.8,0.8);
    position: relative;
}

#about_outline .about_schedule p{
    position: absolute;
    right: 10px;
    bottom: 10px;
    
}

#about_outline .about_supporter_title{
    border: solid 1px gray;
    height: 200px;
    width: 100%;
    position: relative;
    display: flex;   
    flex-direction: column;
    justify-content: center;
    text-align: center;
    transform: translateY(30px);
    opacity: 0;
}

#about_outline .about_supporter_title h1{
    position: absolute;
    font-size: 50px;
    font-weight: bolder;
    font-family: "Arial",sans-serif;
    border-bottom: solid 4px #ea6c1e;
    display: inline-block;
}

#about_outline .about_supporter_title.on{
    transform: translateY(0);
    opacity: 1.0;
}

#about_outline .about_supporter{
    transition: 0.8s ease-in-out;
    transform: translateY(30px);
    opacity: 0;
}

#about_outline .about_supporter.on{
    transform: translateY(0);
    opacity: 1.0;
}

/*Contactで使っているcss*/
#Contact_form{
    background-color: #f5f5f5;
    position: relative;
    height: auto;
    width: 100%;
}

#Contact_form .Contact_title{
    width: 100%;
    height: 150px;
    display: flex;   
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#Contact_form .Contact_title h1{
    height: auto;
    padding-bottom: 10px;
    color: rgba(30, 30, 30, 0.904);
    font-family:"Arial",sans-serif ;
    font-size: 60px;
    font-weight: bolder;
}

#Contact_form .Contact_title p{
    color: rgba(30, 30, 30, 0.904);
    font-family: 'Kosugi', sans-serif;
    font-size: 23px;
    font-weight: 200;
}

#Contact_form .Contact_list{
    width: 100%;
    height: auto;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
}

#Contact_form .Contact_students{
    color: black;
    background-color:  #ffffffb8;
    filter: drop-shadow(1px 2px 10px #d7d7d7);
    height: 180px;
    width: 250px;
    padding-left: 15px;
    padding-top: 30px;
    border-radius: 40px;
}

#Contact_form .Contact_students:hover{
    color: rgba(255, 255, 255, 0.973);
    background-color: rgba(0, 0, 0, 0.815);
    transition: all 0.5s;
}

#Contact_form .Contact_students h1{
    font-size: 30px;
    font-weight: bold;
}

#Contact_form .Contact_students p{
    font-family: 'Kosugi', sans-serif;
    font-size: 20px;
    padding-top: 15px;
}

#Contact_form .Entry_students{
    color: black;
    background-color:  #ffffffb8;
    filter: drop-shadow(1px 2px 10px #d7d7d7);
    padding-left: 15px;
    padding-top: 30px;
    height: 180px;
    width: 250px;
    border-radius: 40px;
}

#Contact_form .Entry_students:hover{
    color: rgba(255, 255, 255, 0.973);
    background-color: rgba(0, 0, 0, 0.815);
    transition: all 0.5s;
}

#Contact_form .Entry_students h1{
    font-size: 30px;
    font-weight: bold;
}

#Contact_form .Entry_students p{
    font-family: 'Kosugi', sans-serif;
    font-size: 20px;
    padding-top: 15px;
}
/*footerで使っているcss*/
#footer{
    height: 30px;
    width: 100%;
    font-size: xx-small;
    text-align: center;
    padding-top: 10px;
}