body{
    max-width: 1440px;
}
/*header_wrapperで使っているcss*/
#header_wrapper{
    border-bottom: solid 1px #d0d0d0;
    background-color: white;
    position: fixed;
    z-index: 3;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
 }
 
 #header_wrapper .header_logo{
     height: 65px;
     position: absolute;
     left: 10px;
 }
 
 #header_wrapper .header_sns{
     position: absolute;
     right: 20px;
     width: 150px;
     padding-top: 15px;
     display: flex;
     justify-content: space-around;
 }
 
 #header_wrapper .header_navlist{
     font-family: "Rubik", sans-serif;
     color: #00000075;
     font-size: 17px;
     width: auto;
     list-style: none; 
     display: flex;
     justify-content: space-around;
 }
 
 .header_navlist_item1,.header_navlist_item2,.header_navlist_item3,.header_navlist_item4,.header_navlist_item5,.header_navlist_item6{
     position: relative;
     margin-left: 30px;
 }
 
 .header_navlist_item1::after,.header_navlist_item2::after,.header_navlist_item3::after,.header_navlist_item4::after,.header_navlist_item5::after,.header_navlist_item6::after{
     position: absolute;
     left: 0;
     content: '';
     width: 100%;
     height: 2px;
     background: #ea6c1e;
     bottom: -3px;               
     transform: scale(0, 1);     
     transform-origin: left top; 
     transition: 0.3s; 
 }
     
 .header_navlist_item1:hover::after,.header_navlist_item2:hover::after,.header_navlist_item3:hover::after,.header_navlist_item4:hover::after,.header_navlist_item5:hover::after,.header_navlist_item6:hover::after{
     transform: scale(1, 1);     
 }

.header_hamburger{
    display: none
}

#header_hamburger_navigation{
    display: none;
}
 
 /*about_outlineで使っているcss*/
#about_outline .about_empty{
    height: 400px;
}

#about_outline .about_MONJU2{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    transition: 0.8s ease-in-out;
}

#about_outline .about_MONJU2 h1{
    position: absolute;
    bottom: 0px;
    font-size: 50px;
    font-weight: bolder;
    font-family: "Arial",sans-serif;
    border-bottom: solid 4px #ea6c1e;
    display: inline-block;
}

#about_outline .about_description{
    width: 100%;
}

.about_description_sub, .about_details_sub{
    display: none;
}
/*以下コメントアウトした部分をmasterとしてcopy*/
.about_description .about_description1{
    width: auto;
    height: auto;
}

.about_description .about_description1-1_blank{
    width: 100%;
    height: 200px;
    position: relative;
    transition: 0.8s ease-in-out;
    transform: translateY(30px);
    opacity: 0;
}

.about_description .about_description1-1_blank.on{
    transform: translateY(0);
    opacity: 1.0;
}

.about_description .about_description1-1_blank img{
    transform: scale(0.75,0.75);
    position: absolute;
    right: 50px;
}

.about_description .about_description1 .about_description1-1{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-between;
    transition: 0.8s ease-in-out;
    transform: translateY(30px);
    opacity: 0;
}

.about_description .about_description1 .about_description1-1.on{
    transform: translateY(0);
    opacity: 1.0;
}

.about_description1 .about_description1-1 .about_description1-1_contents{
    position: relative;
}

.about_description1-1 .about_description1-1_contents img{
    max-width: 100%;
    transform: scale(0.75,0.6);
    z-index: 1;
}

.about_description1-1 .about_description1-1_contents h1{
    font-size: 50px;
    font-weight: bold;
    position: absolute;
    left: 50px;
}

.about_description1-1 .about_description1-1_contents p{
    color: white;
    font-size: 20px;
    font-family: 'M PLUS 1p', sans-serif;
    position: absolute;
    z-index: 2;
    top: 120px;
    left: 150px;
}

.about_description1 .about_description1-2_blank{
    width: 100%;
    height: 200px;
    transition: 0.8s ease-in-out;
    transform: translateY(30px);
    opacity: 0;
    display: flex;
    justify-content: space-evenly;
}

.about_description1 .about_description1-2_blank.on{
    transform: translateY(0);
    opacity: 1.0;
}

.about_description .about_description1 .about_description1-2{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-between;
    transition: 0.8s ease-in-out;
    transform: translateY(30px);
    opacity: 0;
}

.about_description .about_description1 .about_description1-2.on{
    transform: translateY(0);
    opacity: 1.0;
}
.about_description1 .about_description1-2 .about_description1-2_contents{
    position: relative;
}

.about_description1-2 .about_description1-2_contents img{
    max-width: 100%;
    transform: scale(0.75,0.55);
    z-index: 1;
}

.about_description1-2 .about_description1-2_contents h1{
    font-size: 50px;
    font-weight: bold;
    position: absolute;
    right: 400px;
}

.about_description1-2 .about_description1-2_contents p{
    color: white;
    font-size: 18px;
    font-family: 'M PLUS 1p', sans-serif;
    position: absolute;
    z-index: 2;
    top: 110px;
    right: 150px;
}
/*以上まで*/
.about_description .about_description2{
    width: auto;
    height: auto;
}

.about_description .about_description2-1_blank{
    width: 100%;
    height: 200px;
    position: relative;
    transition: 0.8s ease-in-out;
    transform: translateY(30px);
    opacity: 0;
}

.about_description .about_description2-1_blank.on{
    transform: translateY(0);
    opacity: 1.0;
}

.about_description .about_description2-1_blank img{
    transform: scale(1.5,1.5);
    position: absolute;
    right: 210px;
}

.about_description .about_description2 .about_description2-1{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-between;
    transition: 0.8s ease-in-out;
    transform: translateY(30px);
    opacity: 0;
}

.about_description .about_description2 .about_description2-1.on{
    transform: translateY(0);
    opacity: 1.0;
}

.about_description2 .about_description2-1 .about_description2-1_contents{
    position: relative;
}

.about_description2-1 .about_description2-1_contents img{
    max-width: 100%;
    transform: scale(0.75,0.6);
    z-index: 1;
}

.about_description2-1 .about_description2-1_contents h1{
    font-size: 50px;
    font-weight: bold;
    position: absolute;
    left: 50px;
}

.about_description2-1 .about_description2-1_contents p{
    color: white;
    font-size: 20px;
    font-family: 'M PLUS 1p', sans-serif;
    position: absolute;
    z-index: 2;
    top: 100px;
    left: 170px;
}

.about_description2 .about_description2-2_blank{
    width: 100%;
    height: 200px;
    position: relative;
    transition: 0.8s ease-in-out;
    transform: translateY(30px);
    opacity: 0;
}

.about_description2 .about_description2-2_blank.on{
    transform: translateY(0);
    opacity: 1.0;
}

.about_description2 .about_description2-2_blank img{
    transform:scale(1,1);
    position: absolute;
    left: 300px;
}

.about_description .about_description2 .about_description2-2{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-between;
    transition: 0.8s ease-in-out;
    transform: translateY(30px);
    opacity: 0;
}

.about_description .about_description2 .about_description2-2.on{
    transform: translateY(0);
    opacity: 1.0;
}

.about_description2 .about_decription2-2 .about_description2-2_contents{
    position: relative;
}

.about_description2-2 .about_description2-2_contents img{
    max-width: 100%;
    transform: scale(0.75,0.6);
    z-index: 1;
}

.about_description2-2 .about_description2-2_contents h1{
    font-size: 50px;
    font-weight: bold;
    position: absolute;
    right: 600px;
}

.about_description2-2 .about_description2-2_contents p{
    color: white;
    font-size: 25px;
    font-family: 'M PLUS 1p', sans-serif;
    position: absolute;
    z-index: 2;
    top: 130px;
    right: 200px;
}

#about_outline .about_features{
    height: 200px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    transition: 0.8s ease-in-out;
    transform: translateY(30px);
    opacity: 0;
}

#about_outline .about_features.on{
    transform: translateY(0);
    opacity: 1.0;
}

#about_outline .about_features h1{
    position: absolute;
    bottom: 0px;
    font-size: 50px;
    font-weight: bolder;
    font-family: "Arial",sans-serif;
    border-bottom: solid 4px #ea6c1e;
    display: inline-block;
}

.about_details .about_details1{
    width: auto;
    height: auto;
}

.about_details1 .about_details1-1_blank{
    width: 100%;
    height: 200px;
    position: relative;
    transition: 0.8s ease-in-out;
    transform: translateY(30px);
    opacity: 0;
}

.about_details1 .about_details1-1_blank.on{
    transform: translateY(0);
    opacity: 1.0;
}

.about_details1 .about_details1-1_blank img{
     position: absolute;
     right: 200px;
     bottom: -50px;
}

.about_details .about_details1 .about_details1-1{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-between;
    transition: 0.8s ease-in-out;
    transform: translateY(30px);
    opacity: 0;
}

.about_details .about_details1 .about_details1-1.on{
    transform: translateY(0);
    opacity: 1.0;
}

.about_details1 .about_details1-1 .about_details1-1_contents{
    position: relative;
    padding-left: 30px;
}

.about_details1-1 .about_details1-1_contents img{
    max-width: 100%;
    transform: scale(0.75,0.6);
    z-index: 1;
}

.about_details1-1 .about_details1-1_contents h1{
    font-size: 50px;
    font-weight: bold;
    position: absolute;
    left: 50px;
}

.about_details1-1 .about_details1-1_contents p{
    color: white;
    font-size: 15px;
    font-family: 'M PLUS 1p', sans-serif;
    position: absolute;
    z-index: 2;
    top: 100px;
    left: 250px;
}

.about_details1 .about_details1-2_blank{
    width: 100%;
    height: 200px;
    transition: 0.8s ease-in-out;
    transform: translateY(30px);
    opacity: 0;
}

.about_details1 .about_details1-2_blank.on{
    position: relative;
    transform: translateY(0);
    opacity: 1.0;
}

.about_details1 .about_details1-2_blank img{
    transform: scale(1,1);
    position: absolute;
    left: 200px;
}

.about_details .about_details1 .about_details1-2{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-between;
    transition: 0.8s ease-in-out;
    transform: translateY(30px);
    opacity: 0;
}

.about_details .about_details1 .about_details1-2.on{
    transform: translateY(0);
    opacity: 1.0;
}

.about_details1 .about_details1-2 .about_details1-2_contents{
    position: relative;
}

.about_details1-2 .about_details1-2_contents img{
    max-width: 100%;
    transform: scale(0.75,0.6);
    z-index: 1;
}

.about_details1-2 .about_details1-2_contents h1{
    font-size: 50px;
    font-weight: bold;
    position: absolute;
    left: 50px;
}

.about_details1-2 .about_details1-2_contents p{
    color: white;
    font-size: 15.5px;
    font-family: 'M PLUS 1p', sans-serif;
    position: absolute;
    z-index: 2;
    top: 100px;
    right: 160px;
}

.about_details .about_details2{
    width: auto;
    height: auto;
}

.about_details2 .about_details2-1_blank{
    width: 100%;
    height: 200px;
    position: relative;
    transition: 0.8s ease-in-out;
    transform: translateY(30px);
    opacity: 0;
}

.about_details2 .about_details2-1_blank.on{
    transform: translateY(0);
    opacity: 1.0;
}

.about_details2 .about_details2-1_blank img{
     transform: scale(1.25,1.25);
     position: absolute;
     right: 300px;
}

.about_details2 .about_details2-1 .about_details2-1{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-between;
    transition: 0.8s ease-in-out;
    transform: translateY(30px);
    opacity: 0;
}

.about_details2 .about_details2-1 .about_details2-1.on{
    transform: translateY(0);
    opacity: 1.0;
}

.about_details2 .about_details2-1 .about_details2-1_contents{
    position: relative;
    height: 300px;
}

.about_details2-1 .about_details2-1_contents img{
    transform: scale(0.8,0.6);
    z-index: 1;
}

.about_details2-1 .about_details2-1_contents h1{
    font-size: 50px;
    font-weight: bold;
    position: absolute;
    left: 50px;
}

.about_details2-1 .about_details2-1_contents p{
    color: white;
    font-size: 17px;
    font-family: 'M PLUS 1p', sans-serif;
    position: absolute;
    z-index: 2;
    top: 100px;
    left: 230px;
}

.about_details2 .about_details2-2_blank{
    width: 100%;
    height: 200px;
    position: relative;
    transition: 0.8s ease-in-out;
    transform: translateY(30px);
    opacity: 0;
}

.about_details2 .about_details2-2_blank.on{
    transform: translateY(0);
    opacity: 1.0;
}

.about_details2 .about_details2-2_blank img{
    transform: scale(1.25,1.1);
    position: absolute;
    left: 200px;
}

.about_details .about_details2-2 .about_details2-2{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-between;
    transition: 0.8s ease-in-out;
    transform: translateY(30px);
    opacity: 0;
}

.about_details .about_details2 .about_details2-2.on{
    transform: translateY(0);
    opacity: 1.0;
}

.about_details2 .about_details2-2 .about_details2-2_space{
    border: #ea6c1e;
    height: auto;
    width: 100%;
}

.about_details2 .about_details2-2 .about_details2-2_contents{
    width: 100%;
    height: 300px;
    position: relative;
}

.about_details2-2 .about_details2-2_contents img{
    transform: scale(0.8,0.7);
    position: absolute;
    right: 10px
}

.about_details2-2 .about_details2-2_contents h1{
    font-size: 50px;
    font-weight: bold;
    position: absolute;
    right: 450px;
}

.about_details2-2 .about_details2-2_contents p{
    color: white;
    font-size: 20px;
    font-family: 'M PLUS 1p', sans-serif;
    position: absolute;
    z-index: 2;
    top: 100px;
    right: 130px;
}

.about_details .about_details3{
    width: auto;
    height: auto;
}

.about_details3 .about_details3-1_blank{
    width: 100%;
    height: 200px;
    position: relative;
    transition: 0.8s ease-in-out;
    transform: translateY(30px);
    opacity: 0;
}

.about_details3 .about_details3-1_blank.on{
    transform: translateY(0);
    opacity: 1.0;
}

.about_details3 .about_details3-1_blank img{
     position: absolute;
     right: 200px;
     bottom: -50px;
}

.about_details .about_details3 .about_details3-1{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-between;
    transition: 0.8s ease-in-out;
    transform: translateY(30px);
    opacity: 0;
}

.about_details .about_details3 .about_details3-1.on{
    transform: translateY(0);
    opacity: 1.0;
}

.about_details3 .about_details3-1 .about_details3-1_contents{
    position: relative;
}

.about_details3-1 .about_details3-1_contents img{
    max-width: 100%;
    transform: scale(0.75,0.6);
    z-index: 1;
}

.about_details3-1 .about_details3-1_contents h1{
    font-size: 50px;
    font-weight: bold;
    position: absolute;
    left: 50px;
}

.about_details3-1 .about_details3-1_contents p{
    color: white;
    font-size: 20px;
    font-family: 'M PLUS 1p', sans-serif;
    position: absolute;
    z-index: 2;
    top: 130px;
    left: 250px;
}

.about_details .about_details3-2_blank{
    width: 100%;
    height: 200px;
    transition: 0.8s ease-in-out;
    transform: translateY(30px);
    opacity: 0;
    position: relative;
}

.about_details .about_details3-2_blank img{
    position: absolute;
    left: 300px;
}

.about_details .about_details3-2_blank.on{
    transform: translateY(0);
    opacity: 1.0;
}

.about_details .about_details3 .about_details3-2{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-between;
    transition: 0.8s ease-in-out;
    transform: translateY(30px);
    opacity: 0;
}

.about_details .about_details3 .about_details3-2.on{
    transform: translateY(0);
    opacity: 1.0;
}

.about_details3 .about_details3-2 .about_details3-2_contents{
    position: relative;
}

.about_details3-2 .about_details3-2_contents img{
    max-width: 100%;
    transform: scale(0.75,0.6);
    z-index: 1;
}

.about_details3-2 .about_details3-2_contents h1{
    font-size: 50px;
    font-weight: bold;
    position: absolute;
    left: 50px;
}

.about_details3-2 .about_details3-2_contents p{
    color: white;
    font-size: 15.5px;
    font-family: 'M PLUS 1p', sans-serif;
    position: absolute;
    z-index: 2;
    top: 110px;
    left: 205px;
}

#about_outline .about_schedule_title{
    height: 200px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    transition: 0.8s ease-in-out;
    transform: translateY(30px);
    opacity: 0;
}

#about_outline .about_schedule_title.on{
    transform: translateY(0);
    opacity: 1.0;
}

#about_outline .about_schedule_title h1{
    position: absolute;
    bottom: 0px;
    font-size: 50px;
    font-weight: bolder;
    font-family: "Arial",sans-serif;
    border-bottom: solid 4px #ea6c1e;
    display: inline-block;
}

#about_outline .about_schedule{
    transform: scale(1,1);
    position: relative;
}

#about_outline .about_supporter{
    width: 100%;
    display: flex;   
    flex-direction: column;
    transform: translateY(30px);
    opacity: 0;
}

#about_outline .about_supporter_title{
    width: 100%;
    height: 150px;
    justify-content: center;
    text-align: center;
}

#about_outline .about_supporter_title h1{
    font-size: 50px;
    font-weight: bolder;
    font-family: "Arial",sans-serif;
    border-bottom: solid 4px #ea6c1e;
    display: inline-block;
}

#about_outline .about_supporter_title.on{
    transform: translateY(0);
    opacity: 1.0;
}

#about_outline .about_supporter{
    transition: 0.8s ease-in-out;
    transform: translateY(30px);
    opacity: 0;
}

#about_outline .about_supporter.on{
    transform: translateY(0);
    opacity: 1.0;
}

#about_outline .about_supporter_list{
    margin-left: auto;
    margin-right: auto;
    height: 380px
}

#about_outline .about_supporter_list p{
    font-size: 20px;
    font-family: 'M PLUS 1p', sans-serif;
}
/*Contactで使っているcss*/
#Contact_form{
    background-color: #f5f5f5;
    height: auto;
    width: 100%;
}

#Contact_form .Contact_title{
    width: 100%;
    height: 150px;
    display: flex;   
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#Contact_form .Contact_title h1{
    height: auto;
    padding-bottom: 10px;
    color: rgba(30, 30, 30, 0.904);
    font-family:"Arial",sans-serif ;
    font-size: 60px;
    font-weight: bolder;
}

#Contact_form .Contact_title p{
    color: rgba(30, 30, 30, 0.904);
    font-family: 'Kosugi', sans-serif;
    font-size: 23px;
    font-weight: 200;
}

#Contact_form .Contact_list{
    width: 100%;
    height: auto;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
}

#Contact_form .Contact_students{
    color: black;
    background-color:  #ffffffb8;
    filter: drop-shadow(1px 2px 10px #d7d7d7);
    height: 180px;
    width: 250px;
    padding-left: 15px;
    padding-top: 30px;
    border-radius: 40px;
}

#Contact_form .Contact_students:hover{
    color: rgba(255, 255, 255, 0.973);
    background-color: rgba(0, 0, 0, 0.815);
    transition: all 0.5s;
}

#Contact_form .Contact_students h1{
    font-size: 30px;
    font-weight: bold;
}

#Contact_form .Contact_students p{
    font-family: 'Kosugi', sans-serif;
    font-size: 20px;
    padding-top: 15px;
}

#Contact_form .Entry_students{
    color: black;
    background-color:  #ffffffb8;
    filter: drop-shadow(1px 2px 10px #d7d7d7);
    padding-left: 15px;
    padding-top: 30px;
    height: 180px;
    width: 250px;
    border-radius: 40px;
}

#Contact_form .Entry_students:hover{
    color: rgba(255, 255, 255, 0.973);
    background-color: rgba(0, 0, 0, 0.815);
    transition: all 0.5s;
}

#Contact_form .Entry_students h1{
    font-size: 30px;
    font-weight: bold;
}

#Contact_form .Entry_students p{
    font-family: 'Kosugi', sans-serif;
    font-size: 20px;
    padding-top: 15px;
}
/*footerで使っているcss*/
#footer{
    height: 30px;
    width: 100%;
    font-size: xx-small;
    text-align: center;
    padding-top: 10px;
}

@media screen and (max-width: 1024px) {
    #header_wrapper .header_navlist, #header_wrapper .header_sns{
        display: none;
    }

    #header_wrapper .header_hamburger{
        border: solid 1px gray;
        border-radius: 8px;
        filter:drop-shadow(1px 1px 1px #5e5e5e);
        position: absolute;
        top: 10px;
        right: 20px;
        height: 50px;
        width: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
    }

    #header_wrapper .header_hamburger span{
        padding: 5px;
        border-bottom: solid 3px gray;
        width: 60%;
        height: 2px;
    }

    #header_hamburger_navigation{
        z-index: 4;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background: rgba(0, 0, 0, .8);
        transition: all .2s ease-in-out;
        opacity: 0;
        transform: translateY(-100%);
    }

    #header_hamburger_navigation ul{
        color: white;
        font-family: "Rubik", sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #header_hamburger_navigation li{
        margin: 20px;
    }

    #header_hamburger_navigation .header_hamburger_navigaton_sns{
        border: solid 3px white;
    }

    #header_hamburger_navigation.toggle{
        transform: translateY( 0 );
        opacity: 1;
    }
}

@media screen and (max-width:900px) {
    #about_outline .about_empty{
        height: 200px;
    }

    .about_description, .about_details{
        display: none;
    } 

    .about_description_sub, .about_details_sub{
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        max-width: 90%;
    }


    .about_description_sub h1, .about_details_sub h1{
        z-index: 2;
        font-size: 45px;
        font-weight: bold;
        font-family: "Arial", sans-serif;
    }
}

@media screen and (max-width:600px) {
    .about_description_sub h1, .about_details_sub h1{
        font-size: 27px;
    }

    #about_outline .about_MONJU2 h1, #about_outline .about_features h1, #about_outline .about_schedule_title h1, #about_outline .about_supporter_title h1, #Contact_form .Contact_title h1{
        font-size: 35px;
    }

    #Contact_form .Contact_title p{
        font-size: 15px;
    }

    #Contact_form .Contact_list{
        display: flex;
        flex-direction: column;
    }

    #Contact_form .Contact_students, #Contact_form .Entry_students{
        position: relative;
        height: 40px;
        width: 80%;
        margin-bottom: 20px;
    }

    #Contact_form .Contact_students h1, #Contact_form .Entry_students h1{
        position: absolute;
        top: 3px;
    }
     
    #Contact_form .Contact_students p, #Contact_form .Entry_students p{
        display: none;
    }

}
    
