/*header_wrapperで使っているcss*/
#header_wrapper{
    border-bottom: solid 1px #d0d0d0;
    background-color: white;
    position: fixed;
    z-index: 3;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
 }
 
 #header_wrapper .header_logo{
     height: 65px;
     position: absolute;
     left: 10px;
 }
 
 #header_wrapper .header_sns{
     position: absolute;
     right: 20px;
     width: 150px;
     padding-top: 15px;
     display: flex;
     justify-content: space-around;
 }
 
 #header_wrapper .header_navlist{
     font-family: "Rubik", sans-serif;
     color: #00000075;
     font-size: 17px;
     width: auto;
     list-style: none; 
     display: flex;
     justify-content: space-around;
 }
 
 .header_navlist_item1,.header_navlist_item2,.header_navlist_item3,.header_navlist_item4,.header_navlist_item5,.header_navlist_item6{
     position: relative;
     margin-left: 30px;
 }
 
 .header_navlist_item1::after,.header_navlist_item2::after,.header_navlist_item3::after,.header_navlist_item4::after,.header_navlist_item5::after,.header_navlist_item6::after{
     position: absolute;
     left: 0;
     content: '';
     width: 100%;
     height: 2px;
     background: #ea6c1e;
     bottom: -3px;               
     transform: scale(0, 1);     
     transform-origin: left top; 
     transition: 0.3s; 
 }
     
 .header_navlist_item1:hover::after,.header_navlist_item2:hover::after,.header_navlist_item3:hover::after,.header_navlist_item4:hover::after,.header_navlist_item5:hover::after,.header_navlist_item6:hover::after{
     transform: scale(1, 1);     
 }
 
 /*Entry_emptyで使っているcss*/
#Entry_empty{
    width: 100%;
    height: 200px;

}
/*Entry_headerで使っているcss*/
#Entry_header{
    height: auto;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

#Entry_header h1{
    position: absolute;
    bottom: 0px;
    font-size: 50px;
    font-weight: bolder;
    font-family: "Arial",sans-serif;
    border-bottom: solid 4px #ea6c1e;
    display: inline-block;
}

/*Entryで使っているcss*/
#Entry{
    padding-top: 80px;
    background-color: #f5f5f5;
    position: relative;
    height: auto;
    width: 100%;
}

#Entry .Entry_title{
    width: 100%;
    height: auto;
    display: flex;   
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#Entry .Entry_title h1{
    height: auto;
    color: rgba(30, 30, 30, 0.904);
    font-family:"Arial",sans-serif ;
    font-size: 60px;
    font-weight: bolder;
}

#Entry .Entry_title p{
    color: rgba(30, 30, 30, 0.904);
    font-family: 'Kosugi', sans-serif;
    font-size: 27px;
    font-weight: 200;
    padding-top: 50px;
}

#Entry .Entry_title .Entry_title_space{
    width: 100%;
    height: 100px;
}

#Entry .Entry_list{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content:center;
    align-items: center;
}

#Entry .Entry_students{
    color: black;
    background-color:  #ffffffb8;
    filter: drop-shadow(1px 2px 10px #d7d7d7);
    height: 180px;
    width: 500px;
    padding-top: 30px;
    border-radius: 40px;
    text-align: center;
}

#Entry .Entry_students:hover{
    color: rgba(255, 255, 255, 0.973);
    background-color: rgba(0, 0, 0, 0.815);
    transition: all 0.5s;
}

#Entry .Entry_students h1{
    font-size: 80px;
    font-weight: bolder;
}

/*footerで使っているcss*/
#footer{
    height: 30px;
    width: 100%;
    font-size: xx-small;
    text-align: center;
    padding-top: 10px;
}