/*全体に対して使っているcss*/
a{
    text-decoration: none;
}

/*header_wrapperで使っているcss*/
#header_wrapper{
   border-bottom: solid 1px #d0d0d0;
   background-color: white;
   position: fixed;
   z-index: 3;
   width: 100%;
   height: 70px;
   display: flex;
   justify-content: space-around;
   align-items: center;
}

#header_wrapper .header_logo{
    height: 65px;
    position: absolute;
    left: 10px;
}

#header_wrapper .header_sns{
    position: absolute;
    right: 20px;
    width: 150px;
    padding-top: 15px;
    display: flex;
    justify-content: space-around;
}

#header_wrapper .header_navlist{
    font-family: "Rubik", sans-serif;
    color: #00000075;
    font-size: 17px;
    width: auto;
    list-style: none; 
    display: flex;
    justify-content: space-around;
}

.header_navlist_item1,.header_navlist_item2,.header_navlist_item3,.header_navlist_item4,.header_navlist_item5,.header_navlist_item6{
    position: relative;
    margin-left: 30px;
}

.header_navlist_item1::after,.header_navlist_item2::after,.header_navlist_item3::after,.header_navlist_item4::after,.header_navlist_item5::after,.header_navlist_item6::after{
    position: absolute;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: #ea6c1e;
    bottom: -3px;               
    transform: scale(0, 1);     
    transform-origin: left top; 
    transition: 0.3s; 
}
    
.header_navlist_item1:hover::after,.header_navlist_item2:hover::after,.header_navlist_item3:hover::after,.header_navlist_item4:hover::after,.header_navlist_item5:hover::after,.header_navlist_item6:hover::after{
    transform: scale(1, 1);     
}

#header_wrapper .header_hamburger{
    display: none;
}

#header_hamburger_navigation{
    display: none;
}

/*top_imageで使っているcss*/
#top_image .catchphrase_border{
    filter:drop-shadow(2px 4px 10px #5e5e5e);
}

#top_image .catchphrase{
    transform: scale(0.97,0.8);
    border-radius: 40px;
    z-index: 1;
    margin: auto;
    display: block;
}

/*articlesで使っているcss*/
#articles{
    background-color: #eeeeeed2;
    position: relative;
    height: 550px;
    width: 100%;
}

#articles .articles_title{
   position: absolute;
   top: 30px;
   left: 80px;
}

#articles .articles_title h1{
    color: rgba(30, 30, 30, 0.904);
    font-family: "Arial", sans-serif;
    border-bottom: solid 3px #ea6c1e;
    display: inline-block;
    font-size: 35px;
    font-weight: bolder;
}

#articles .articles_container{
    position: absolute;
    top: 130px;
    display: flex;
    justify-content: space-around;
    padding-left: 30px;
    height: 300px;
    width: 100%;
}

#articles .articles_container .article1 .article_image_box1{
    border-radius: 20px;
    height: 200px;
    width: 355px;
    overflow: hidden;
    filter:drop-shadow(0px 0px 10px #a8a8a8);
}

#articles .articles_container .article1 .article_image_box1 img:hover{
    transform: scale(1.05,1.05);
    transition: all 1s;
}

#articles .articles_container .article2 .article_image_box2{
    border-radius: 20px;
    height: 200px;
    width: 355px;
    overflow: hidden;
    filter:drop-shadow(0px 0px 10px #a8a8a8);
}

#articles .articles_container .article2 .article_image_box2 img:hover{
    transform: scale(1.05,1.05);
    transition: all 1s;
}

#articles .articles_container h1{
    font-family: "Arial", sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: rgba(30, 30, 30, 0.904);
}

#articles .articles_container p{
    font-family: "Arial", sans-serif;
    color: #757575;
}

#articles .articles_footer{
    height: 130px;
    width: 100%;
    position: absolute;
    bottom: 0px;
}

#articles .articles_footer .viwer_button{
    border: solid 5px black;
    border-radius: 30px;
    height: 60px;
    width: 150px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    font-size: larger;
    font-weight: bold;
    font-family:Arial, sans-serif ;
    color: black;
    padding-left: 5px;
    justify-content: space-around;
}

#articles .articles_footer .viwer_button:hover{
    color: white;
    background-color: rgba(0, 0, 0, 0.942);
    fill: white;
    transition: all 0.5s;
}

/*Aboutで使っているcss*/
#About{
    height: auto;
    width: 100%;
}

#About .About_title{
    width: 100%;
    height: 130px;
    font-size: 35px;
    font-weight: bold;
    font-family: "Arial", sans-serif;
    display: flex;
    align-items: center;
    padding-left: 80px;
}

#About .About_title h1{
    display: inline-block;
    border-bottom: solid 3px #ea6c1e;
}

#About .About_contents{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}

#About .MONJU2_logo{
    transform: scale(0.7,0.7);
    height: auto ;
}

#About .About_description{
    width: 100%;
    height: auto;
    font-weight: bolder;
    display: flex;
    align-items: center;
}

#About .About_footer{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: end;
    position: relative;
}

#About .About_footer .viwer_button{
    position: absolute;
    right: 200px;
    border: solid 5px black;
    border-radius: 30px;
    height: 60px;
    width: 150px;
    padding-top: 15px;
    padding-left: 10px;
    display: flex;
    justify-content: space-around;
    font-size: larger;
    font-weight: bold;
    font-family:Arial, sans-serif ;
    color: black;
}

#About .About_footer .viwer_button:hover{
    color: white;
    background-color: rgba(0, 0, 0, 0.942);
    fill: white;
    transition: all 0.5s;
}

/*contact_formで使っているcss*/
#Contact_form{
    background-color: #f5f5f5;
    height: auto;
    width: 100%;
}

#Contact_form .Contact_title{
    width: 100%;
    height: 100px;
    position: relative;
}

#Contact_form .Contact_title h1{
    height: auto;
    padding-bottom: 10px;
    color: rgba(30, 30, 30, 0.904);
    font-family:"Arial",sans-serif ;
    font-size: 40px;
    font-weight: bolder;
    position: absolute;
    left: 80px;
    top: 30px;
    display: inline-block;
    border-bottom: solid 3px #ea6c1e;
}

#Contact_form .Contact_list{
    width: 100%;
    height: auto;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
}

#Contact_form .Contact_list h1{
    font-size: 30px;
    font-weight: bold;
}

#Contact_form .Contact_list p{
    font-family: 'Kosugi', sans-serif;
    font-size: 20px;
    padding-top: 15px;
}

#Contact_form .entry{
    color: black;
    background-color:  #ffffffb8;
    filter: drop-shadow(1px 2px 10px #d7d7d7);
    height: 180px;
    width: 250px;
    padding-left: 15px;
    padding-top: 30px;
    border-radius: 40px;
}

#Contact_form .entry:hover{
    color: rgba(255, 255, 255, 0.973);
    background-color: rgba(0, 0, 0, 0.815);
    transition: all 0.5s;
}

#Contact_form .suponsorship{
    color: black;
    background-color:  #ffffffb8;
    filter: drop-shadow(1px 2px 10px #d7d7d7);
    padding-left: 15px;
    padding-top: 30px;
    height: 180px;
    width: 250px;
    border-radius: 40px;
}

#Contact_form .suponsorship:hover{
    color: rgba(255, 255, 255, 0.973);
    background-color: rgba(0, 0, 0, 0.815);
    transition: all 0.5s;
}

#Contact_form .contact{
    color: black;
    background-color:  #ffffffb8;
    filter: drop-shadow(1px 2px 10px #d7d7d7);
    padding-left: 15px;
    padding-top: 30px;
    height: 180px;
    width: 250px;
    border-radius: 40px;
}

#Contact_form .contact:hover{
    color: rgba(255, 255, 255, 0.973);
    background-color: rgba(0, 0, 0, 0.815);
    transition: all 0.5s;
}

/*footerで使っているcss*/
#footer{
    height: 30px;
    width: 100%;
    font-size: xx-small;
    text-align: center;
    padding-top: 10px;
}

@media screen and (max-width: 1024px) {
    #header_wrapper .header_navlist, #header_wrapper .header_sns{
        display: none;
    }

    #header_wrapper .header_hamburger{
        border: solid 1px gray;
        border-radius: 8px;
        filter:drop-shadow(1px 1px 1px #5e5e5e);
        position: absolute;
        top: 10px;
        right: 20px;
        height: 50px;
        width: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
    }

    #header_wrapper .header_hamburger span{
        padding: 5px;
        border-bottom: solid 3px gray;
        width: 60%;
        height: 2px;
    }

    #header_hamburger_navigation{
        z-index: 4;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background: rgba(0, 0, 0, .8);
        transition: all .2s ease-in-out;
        opacity: 0;
        transform: translateY(-100%);
    }

    #header_hamburger_navigation ul{
        color: white;
        font-family: "Rubik", sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #header_hamburger_navigation li{
        margin: 20px;
    }

    #header_hamburger_navigation .header_hamburger_navigaton_sns{
        border: solid 3px white;
    }

    #header_hamburger_navigation.toggle{
        transform: translateY( 0 );
        opacity: 1;
    }
}

@media screen and (max-width: 768px)  {
#top_image .top_image_space{
    height: 50px;
    width: 100%;
}

#articles .articles_title{
    top: 40px;
    left: 30px;
 }
 

#articles .articles_title h1{
    font-size: 35px;
    
}

#articles .articles_container .article2{
    display: none;
}

#articles .articles_container .article1 .article_image_box1 img,#articles .articles_container .article2 .article_image_box2 img{
    transform: scale(0.9,0.9);
    max-width: 90%;
}

#About .About_contents .MONJU2_logo{
    display: none;
}

#About .About_contents .About_description{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#About .About_footer{
    align-items: center;
    justify-content: center;
    text-align: center;
}

#Contact_form .Contact_title h1{
   text-align: center;
}

#Contact_form .Contact_list{
    display: block;
}

#Contact_form .Contact_list h1{
    position: absolute;
    top: 3px;
}

#Contact_form .Contact_list p{
    display: none;
}

#Contact_form .entry{
    position: relative;
    height: 40px;
    width: 80%;
    margin-bottom: 20px;
}

#Contact_form .suponsorship{
    position: relative;
    height: 40px;
    width: 80%;
    margin-bottom: 20px;
}

#Contact_form .contact{
    position: relative;
    height: 40px;
    width: 80%;
}
}