/*header_wrapperで使っているcss*/
#header_wrapper{
    border-bottom: solid 1px #d0d0d0;
    background-color: white;
    position: fixed;
    z-index: 3;
    height: 70px;
    width: 100%;
 }
 
#header_wrapper .header_logo .MONJU2_logo{
    transform: scale(1,0.8);
    position: absolute;
    left: 20px;
}
 
 #header_wrapper .header_sns{
     position: absolute;
     top: 26px;
     right: 100px;
     display: flex;
     height: 23px;
 }
 
 .header_sns .MONJU_Instagram{
     margin-left: 40px;
 }
 
 #header_wrapper .global_menu{
     position: absolute;
     top: 28px;
     right: 280px;
 }
 
 .global_menu .header_navlist{
    font-family: "Rubik", sans-serif;
     color: #00000075;
     font-size: 17px;
     list-style: none; 
     display: flex;
     justify-content: space-around;
     transform: scale(1.15,1.15);
 }
 
 .header_navlist_item1,.header_navlist_item2,.header_navlist_item3,.header_navlist_item4{
     position: relative;
 }
 
 .header_navlist_item1::after,.header_navlist_item2::after,.header_navlist_item3::after,.header_navlist_item4::after{
     position: absolute;
     left: 0;
     content: '';
     width: 100%;
     height: 2px;
     background: #ea6c1e;
     bottom: -3px;               
     transform: scale(0, 1);     
     transform-origin: left top; 
     transition: transform 0.3s; 
 }
     
 .header_navlist_item1:hover::after,.header_navlist_item2:hover::after,.header_navlist_item3:hover::after,.header_navlist_item4:hover::after{
     transform: scale(1, 1);     
 }
 
 .header_navlist_item2,.header_navlist_item3,.header_navlist_item4{
     margin-left: 50px;
 }

 /*articlesで使われているcss*/
#articles .news_title{
    width: 100%;
    padding-left: 40px;
}

#articles .news_title img{
    transform: scale(0.9,0.9);
}

#articles_container h1{
    font-family: "Arial", sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: rgba(30, 30, 30, 0.904);
}

#articles_container p{
    font-family: "Arial", sans-serif;
    color: #757575;
}

#articles_container .articles_line1{
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

#articles_container .articles_line1 .article1{
    height: 300px;
    width: 355px;
}

#articles_container .article1 .article_image_box1{
    border-radius: 20px;
    height: 200px;
    width: 355px;
    overflow: hidden;
    filter:drop-shadow(0px 0px 10px #a8a8a8);
}

#articles_container .article1 .article_image_box1 img:hover{
    transform: scale(1.05,1.05);
    transition: all 1s;
}

#articles_container .articles_line1 .article2{
    height: 300px;
    width: 355px;
}

#articles_container .article2 .article_image_box2{
    border-radius: 20px;
    height: 200px;
    width: 355px;
    overflow: hidden;
    filter:drop-shadow(0px 0px 10px #a8a8a8);
}

#articles_container .article2 .article_image_box2 img:hover{
    transform: scale(1.05,1.05);
    transition: all 1s;
}

#articles_container .articles_line1 .article3{
    height: 300px;
    width: 355px;
}

#articles_container .article3 .article_image_box3{
    border-radius: 20px;
    height: 200px;
    width: 355px;
    overflow: hidden;
    filter:drop-shadow(0px 0px 10px #a8a8a8);
}

#articles_container .article3 .article_image_box3 img:hover{
    transform: scale(1.05,1.05);
    transition: all 1s;
}

/*footerで使っているcss*/
#footer{
    height: 30px;
    width: 100%;
    font-size: xx-small;
    text-align: center;
    padding-top: 10px;
}